[profile.default]
src = "src"
out = "out"
libs = ["dependencies"]
remappings = [
  "@openzeppelin-contracts/=dependencies/@openzeppelin-contracts-5.2.0-rc.1",
  "@openzeppelin-contracts-upgradeable/=dependencies/@openzeppelin-contracts-upgradeable-5.2.0-rc.1",
  "forge-std/=dependencies/forge-std-1.9.5/src/",
  "@balancer-labs/=node_modules/@balancer-labs/",
  "amm-contracts/=dependencies/amm-contracts/contracts/"
]
solc_version = "0.8.28+commit.7893614a"
evm_version = "cancun"
optimizer = true
optimizer_runs = 200


[soldeer]
remappings_generate = true
remappings_regenerate = false
remappings_version = false
remappings_prefix = ""
remappings_location = "txt"
recursive_deps = true

[dependencies]
forge-std = "1.9.5"
"@openzeppelin-contracts" = "5.2.0-rc.1"
"@openzeppelin-contracts-upgradeable" = "5.2.0-rc.1"
amm-contracts = { git = "https://github.com/xave-finance/amm-contracts.git", branch = "master", version = "0.0.1" }
